{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin.css')}}">
{% endblock %}

{% block content %}
<div class="banner row">
	<div class="small-12">
		<div class="row">
			<div class="small-offset-2 small-8 columns">
				<h1>User List</h1>
			</div>
		</div>
		<div class="row">
			<div class="small-offset-2 small-8 columns">
				<script type="text/javascript">

				modify_user_access = function(user_id){
					// build the URL
					prefix = "{{url_for('modify_access',user_id='temp')}}".split("temp")[0]
					url = prefix + user_id + '/'
					
					// send the request
					$.ajax({
						type: "POST",
						contentType: "application/json; charset=utf-8",
						url: url,
						data: '{ "access": "'+$("#access_"+user_id).val()+'"}',
						dataType: "json"
					}).error(function(jqXHR,textStatus,errorThrown){
						alert(jqXHR.responseJSON.error);
					}).success(function (data) {
						// TODO, make some sort of indication to the user that the save was successful
						alert("Successfully edited access level");
					});
				}

				delete_user = function(user_id){
					// build the url
					prefix = "{{url_for('delete_user',user_id='temp')}}".split("temp")[0]
					url = prefix + user_id + '/'

					// send the request
					$.post(url).error(function(jqXHR,textStatus,errorThrown){
						alert(jqXHR.responseJSON.error);
					}).success(function(){data,textStatus,jqXHR
						$.remove("row_" + user_id);
						// TODO remove the user from the list
					});
				}
				</script>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Access</th>
							<th>Save</th>
							<th>Remove</th>
						</tr>
					</thead>
					{% for user in users %}
					<tbody>
						<tr id="row_{{user.id}}">
							<td>{{user.first_name}} {{user.last_name}}</td>
							<td>{{user.email}}</td>
							<td>
								<select id="access_{{user.id}}">
									{% for val in user.access_levels%}
									<option value="{{val}}" {% if val==user.access%}selected="selected"{%endif%}>{{val}}</option>
									{%endfor%}
								</select>
							</td>
							<td class="text-center"><button onclick="modify_user_access('{{user.id}}')"><i class="fi-check"></i></button></td>
							<td class="text-center"><button onclick="delete_user('{{user.id}}')"><i class="fi-x"></i></button></td>
						</tr>
					</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}