<!DOCTYPE html>
<!--	PUBLIC "-//OlinBaja//DTD HTML 4.01//EN"
	"http://www.olinbaja.com/TR/html4/strict.dtd"-->
<html>
<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}Phoenix Racing{% endblock %}</title>

	<!-- CSS -->
	{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/foundation.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/foundation-icons.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/normalize.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/base.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/froala_editor.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">

	<!-- Font --> 
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
	{% endblock %}

	<!-- Blocking Javascript Load-->
	{% block head_scripts %}
	<script src="{{url_for('static',filename='js/base.js')}}"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script src="{{url_for('static',filename='js/vendor/modernizr.js')}}"></script>
	<script src="{{url_for('static',filename='js/vendor/jquery.js')}}"></script>
	{% endblock %}
</head>

<body>
	<!-- Wrapper divs for off-canvas -->
	<div class="off-canvas-wrap">
		<div class="inner-wrap">
			
			{% block header %}{%include 'header.html'%}{% endblock %}

			<!-- Content -->
			<section class="main-section scroll-container">
				{% block notify %}{%include 'notify.html'%}{% endblock %}
				{% block content %}{% endblock %}
					
			</section>
		</div>
	</div>

	<!-- Non-Blocking Javascript Load-->
	{% block body_scripts %}
	<script src="{{url_for('static',filename='js/vendor/fastclick.js')}}"></script>
	<script src="{{url_for('static',filename='js/foundation.min.js')}}"></script>
	<script>
		$(document).foundation();		
	</script>		
	{% endblock %}

</body>
</html>