{% extends 'base.html' %}

{% block body_scripts %}
{{super()}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
	$(function () {
		var name = "{{data_session.driver}}"
		alert(name);

		$("#yeebox").text(name);
		var Xdata = [1,1,2,2,3,4,4,5,6]
		var Ydata = [1,1,2,2,3,4,4,5,6]
	    $('#container').highcharts({
	        title: { text: 'Placeholder Graph'},
	        xAxis: { categories: Xdata},
	        series: [{
	            data: Ydata,
	            name: 'Speed'
	        }]
	    });
	});
</script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/data.css')}}">
{% endblock %}

{% block content %}
<div style="width:100%; height:100px;">
	<div id="yeebox">
		<p>Yo</p>
	</div>
</div>
<div id="container" style="width:100%; height:400px;"></div>
{% endblock %}