<!-- donate.html -->

{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/donate.css')}}">
{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
	$('.container').fadeIn('slow');
	$('.donate-caption').fadeIn('slow');
	$('.donate-banner-cap').fadeIn('slow');
	$('.frontpage-container').fadeIn('slow');
});
</script>
<div class="container">
  <div><img class="banner-img" src="{{url_for('static',filename='img/rochester.jpg')}}"></div>
</div>
<div class ="donate-banner-cap row">
	<div class="small-12 small-centered columns">
		<img id="img/money.png" src="{{url_for('static',filename='img/money.png')}}">
	</div>
</div>

<br>
<div class="frontpage-container">
<div class="donate-caption">

	<!--<p><img id="img/money.png" src="{{url_for('static',filename='img/money.png')}}"></p>
	<p> We've raised <strong>$2,000</strong> out of our	<strong>$22,000</strong> goal.</p>
	<p><img id="img/money.png" src="{{url_for('static',filename='img/money.png')}}"></p>-->
	<h4>Thanks for your interest in donating!</h4>

	<p>As an entirely donation-funded endeavor, Phoenix Racing relies on the generosity of people like you. As a 501(c)(3) non-profit, every donation is tax-deductable. Please make sure to check if your employer has an applicable donation-matching program--many do! You can donate online by visiting the Olin donation website below and selecting "Student Project: Mini-Baja (Phoenix Racing Team)" in the 'Gift Information' field:</p> 

	<div>
			<a href="https://www.olin.edu/invest/ways/making-your-gift-olin-college/"><button class="button secondary radius" >Donate Online</button></a>
	</div><br>

	<p>Alternatively, you can write a check and make it out to<strong> Olin College </strong>with <strong>SAE Baja </strong>in the memo line and mail them to:</p>

	<p>Phoenix Racing<br>
	1000 Olin Way, MB 424,
	Needham, MA 02492</p>


</div>
</div>
<br>

{% endblock %}