<!-- donate.html -->

{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/donate.css')}}">
{% endblock %}

{% block content %}
<div class="row">
	<div class="display small-8 small-centered columns text-center">
	<p>
		<img id="img/money.png" src="{{url_for('static',filename='img/money.png')}}">
	</p>
	
	<p> Thanks for your interest in donating!</p>
	
	<p> We've raised <strong>$2,000</strong> out of our	<strong>$22,000</strong> goal.</p>

	<p>As an entirely donation-funded endeavor, Phoenix Racing relies on the generosity of people like you. As a 501(c)(3) non-profit, every donation is tax-deductable. Please make sure to check if your employer has an applicable donation-matching program--many do! Please make checks out to<strong> Olin College </strong>with <strong>SAE Baja </strong>in the memo line and mail them to:</p>

	<p>Phoenix Racing</p>
	<p>1000 Olin Way, MB 424,
	Needham, MA 02492</p>

	<p>Additionally, it is possible to donate online. Visit the Olin donation website (<a href="https://olin.edu/giving/donation.aspx">https://olin.edu/giving/donation.aspx</a>) and select "Mini-Baja" in the designation field.</p>

	<div>
			<button class="button secondary radius" href="#">Donate Online</button>
	</div>

</div>
</div>
{% endblock %}