{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/blog.css')}}">
{% endblock %}

{% block head_scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/tinymce/tinymce.min.js')}}"></script>
<script type="text/javascript">

	function myFileBrowser(field_name, url, type, win){
		$("#file").click();

		// var cmsURL = window.location.toString();    // script URL - use an absolute path!
	 //    if (cmsURL.indexOf("?") < 0) {
	 //        //add the type as the only query parameter
	 //        cmsURL = cmsURL + "?type=" + type;
	 //    }
	 //    else {
	 //        //add the type as an additional query parameter
	 //        // (PHP session ID is now included if there is one at all)
	 //        cmsURL = cmsURL + "&type=" + type;
	 //    }

	 //    tinyMCE.activeEditor.windowManager.open({
	 //        file : cmsURL,
	 //        title : 'My File Browser',
	 //        width : 420,  // Your dimensions may differ - toy around with them!
	 //        height : 400,
	 //        resizable : "yes",
	 //        inline : "yes",  // This parameter only has an effect if you use the inlinepopups plugin!
	 //        close_previous : "no"
	 //    }, {
	 //        window : win,
	 //        input : field_name
	 //    });
	 //    return false;
	}

	tinymce.init({
		selector:"textarea",
		image_list: [ 
		//	 {title: 'My image 1', value: 'http://www.tinymce.com/my1.gif'}, 
		//	 {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
		]
	});
</script>
{% endblock %}

{% block body_scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/vendor/jquery.fileupload.js')}}"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
</script>
{% endblock %}

{% block content %}
<div class="row banner">
	<div class="small-9">
		<div class="row">
			<div class="small-offset-4 small-8 columns">
				<h1>{% if post %}Edit{% else %}New{%endif %} Blog Post</h1>
			</div>
			{% from 'forms.html' import render_field, submit %}
			<form method="post" action="{{url_for('upload')}}" enctype="multipart/form-data">
				<input type="file" name="upload" id="file">
			</form>
			<form method="post" action="{%if post%}{{url_for('edit_post',post_id=post.id)}}{%else%}{{url_for('create_post')}}{%endif%}">
				{{render_field(form.title)}}
				{{render_field(form.body)}}	
				<br>
				{{submit('Save')}}		
			</form>
			<div class="row">
				<div class="small-4 columns">
					<label for="image_upload" class="right">Images</label>
				</div>
				<div class="small-8 columns">
					<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
				</div>
			</div>
			<div class="small-offset-4 small-8 columns">
				<input type="button" value="Upload">
			</div>
		</div>
	</div>
</div>
{% endblock %}