{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/blog.css')}}">
{% endblock %}

{% block head_scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/froala_editor.min.js')}}"></script>
<script>
	$(function() {
		$('#edit').editable({
			inlineMode: false,
			saveURL: "{%if post%}{{url_for('edit_post',post_id=post.id)}}{%else%}{{url_for('create_post')}}{%endif%}",
			imageUploadURL: '/upload/'
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="row banner">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-12 columns">
				<h1>{% if post %}Edit{% else %}New{%endif %} Blog Post</h1>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<div class="edit-blog" id="edit">
					<h2> {{ post.title }} </h2>
					<br>
					<p> {{ post.body|safe }} </p>
				</div>
				<a class="button expand" id="save">Save</a>
			</div>
		</div>
		<div class="row">
			{% from 'forms.html' import render_field, submit %}
		</div>
		<br>
	</div>
</div>

<script>
	$('#save').click(function (e) {
		$('#edit').editable('save');
		window.location = ("{{ url_for('view_blog') }}");
	});
</script>
{% endblock %}