// <script>
$(document).ready(function(){
	$('.foot').fadeIn(800);
});	

 </script>

<br><br><div class = "foot">
	<div class = "footer_container">
	<div class = "footer-name">
			<p><em>Copyright Phoenix Racing 2014</em></p>
	</div>
	<ul class = "footer">

		<li class = "link">
			<a class = "outsideLinks" href="https://www.facebook.com/OlinPhoenixRacing">
				<img src="{{url_for('static',filename='img/facebook.png')}}">
			</a>
		</li>
<!-- 		<li class = "link">
			<a class = "outsideLinks" href="http://www.amazon.com/Fisher-Price-Power-Wheels-Boys-Racer/dp/B00IVDVWVO/ref=pd_sim_t_5?ie=UTF8&refRID=1WPAD4X3X4FPADJVMSQ2">
				<img src="{{url_for('static',filename='img/amazon.png')}}"><br>
			</a>
		</li> -->
		<li class = "link">
			<a class = "outsideLinks" href="https://twitter.com/PhnxRacing">
				<img src="{{url_for('static',filename='img/twitter.png')}}">
			</a>
		</li>
		<li class = "link">
			<a class = "outsideLinks" href="http://students.sae.org/cds/bajasae/">
				<img src="{{url_for('static',filename='img/SAE.png')}}">
			</a>
		</li>
		<li class = "link">
			<a class = "outsideLinks" href="http://www.olin.edu">
				<img src="{{url_for('static',filename='img/olinlogo.png')}}">
			</a>
		</li>
	</ul>
	</div>
</div>