{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}

{% block content %}
<div class="row banner">
    <div class="small-9 large-centered">
        <div class="row">
            <div class="small-offset-4 small-8 columns">
                <h1>Forgot Password</h1>
                <p>We'll reset your password and then email you. You must log in and reset your password. </p>
            </div>
        </div>
        {% from 'forms.html' import render_field, submit %}
        <form method="post" action="{{url_for('forgot_password')}}">
            {{render_field(form.email)}}
            {{submit('Submit')}}
        </form>
    </div>
</div>
{% endblock %}