{% macro render_field(field) %}
<div class="row">
	<div class="small-4 columns">
		{{field.label(class='right')}}
	</div>
	<div class="small-8 columns {% if field.errors %}error{% endif %}">
		{{field(placeholder = field.label.text)|safe}}
		{% if field.errors %}
		<small>
			{% for error in field.errors %}
			{{error}}
			<br>
			{% endfor %}
		</small>
		{% endif %}
	</div>
</div>
{% endmacro %}

{% macro submit(text, alternate=None) %}
<div class="row">
	<div class="small-offset-4 small-8 columns">
		<button id="submit" class="button" type="submit">{{text}}</button>
		{{extra|safe}}
	</div>
</div>
{% endmacro %}