{% extends 'base.html' %}

{% block styles %}
{{super()}}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/gallery.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='fancybox/source/jquery.fancybox.css')}}" type="text/css" media="screen" />
<script type="text/javascript" src="{{url_for('static', filename='fancybox/lib/jquery-1.10.1.min.js')}}"></script>
<script type="text/javascript" src = "{{url_for('static',filename='fancybox/source/jquery.fancybox.pack.js')}}"></script>
<script type="text/javascript" src = "{{url_for('static',filename='fancybox/source/jquery.fancybox.js')}}"></script>
<script>
$(document).ready(function($) {
	$(".decorator").fadeIn("fast");
	$(".Gallery_Title").fadeIn('slow');
	$(".Gallery_Blurb").fadeIn("fast");
	$(".Gallery_Content").fadeIn("fast");
	$(".decorator2").fadeIn('fast');
	$(".fancybox").fancybox({
		padding: 8,
		maxHeight: 600
	});
});</script>
{% endblock %}

{% macro image_block(picture) %}
<li>
	<div class="Pictures">
		<a class = "fancybox" rel = "gallery" href = "{{url_for('static',filename=picture.image_path)}}" title="{{picture.caption}}">
			<img src="{{url_for('static',filename=picture.image_path)}}">
		</a><br>
		<!--<p>{{picture.caption}}</p><br>-->
	</div>
</li>
{% endmacro %}

{% block content %}
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"
    type="text/javascript"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->

<!--FancyBox gallery stuff-->
<!--<script type="text/javascript" src="{{url_for('static', filename='fancybox/lib/jquery-1.10.1.min.js')}}"></script>
<script type="text/javascript" src = "{{url_for('static',filename='fancybox/source/jquery.fancybox.pack.js')}}"></script>
<script type="text/javascript" src = "{{url_for('static',filename='fancybox/source/jquery.fancybox.js')}}"></script>-->


<div class="decorator">
  <div><img src="{{url_for('static',filename='img/donate-page-decorator.png')}}"></div>
</div>
<div class="decorator2">
  <div><img src="{{url_for('static',filename='img/donate-decorator-2.png')}}"></div>
</div>
<div class = "Gallery_Title"><h1>Gallery</h1></div>
<div class = "Gallery_Blurb">
	<h4>A collection of pictures from various drive days, work days, and competitions. </h4>
	<h4>Click on photos to enlarge.</h4>
</div>
<div class = "Gallery_Content">
	<ul class = "small-block-grid-1 medium-block-grid-2 large-block-grid-3">
{% for i in range(0, pictures|length) %}
{{image_block(pictures[i])}}
{% endfor %}
</ul>
</div>


<!--Lazyload jQuery-->
<script src="{{url_for('static',filename='jquery/lazyload.js')}}" type="text/javascript"></script>

{% block footer %}{%include 'footer.html' %}{% endblock %}
{% endblock %}