{% if user and user.is_authenticated() %}
	{% set navbar = {
	'left':[
		('team', 'The Team'),
		('subteams', 'The Car'),
		('donate','Sponsorship'),
		('gallery', 'Gallery'),
		('purchase', 'Purchase')
	],
	'right':[
		('user',user.first_name ~ ' ' ~user.last_name),
		('logout','Log Out')
	]} -%}
{% else %}
	{% set navbar = {
	'left':[
		('team', 'The Team'),
		('subteams', 'The Car'),
		('donate','Sponsorship'),
		('gallery', 'Gallery')
	],
	'right':[
		('login', 'Log In'),
		('signup', 'Sign Up'),
	]} -%}
{% endif %}

{% set active_page = active_page|default('index') -%}

<nav class="top-bar hide-for-small" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><a href="{{url_for('index')}}">Phoenix Racing</a></h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			{% for id, caption in navbar['left'] %}
			<li {% if id == active_page %}class="active"{% endif %}><a href="{{url_for(id)}}">{{caption}}</a></li>
			{% endfor %}
		</ul>
		<ul class="right">
			{% for id, caption in navbar['right'] %}
			<li {% if id == active_page %}class="active"{% endif %}><a href="{{url_for(id)}}">{{caption}}</a></li>
			{% endfor %}
		</ul>
	</section>
</nav>

<!-- Nav Bar for small screens -->
	<nav class="tab-bar show-for-small" data-topbar>
		<section class="left-small">
			<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
		</section>
		<section class="middle tab-bar-section">
			<h1 class="title">Phoenix Racing</h1>
		</section>
	</nav>

<!-- Off Canvas for small screens -->
<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<!-- special case for index link -->
		<li {% if 'index' == active_page %}class="active"{% endif %}><a href="{{url_for('index')}}">Home</a></li>

		<!-- iterate through list of items on left navbar and display -->
		{% for id, caption in navbar['left'] %}
		<li {% if id == active_page %}class="active"{% endif %}><a href="{{url_for(id)}}">{{caption}}</a></li>
		{% endfor %}

		<!-- iterate through list of items on right navbar and display -->
		<li><label></label></li>
		{% for id, caption in navbar['right'] %}
		<li {% if id == active_page %}class="active"{% endif %}><a href="{{url_for(id)}}">{{caption}}</a></li>
		{% endfor %}
	</ul>
</aside>
<a class="exit-off-canvas" href="#"></a>
