{% extends 'base.html' %}

{% block body_scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slick/slick.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">
{% endblock %}

{% block content %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='slick/slick.min.js')}}"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
$(document).ready(function(){
	$('.banner-caption').fadeIn(1000);
	$('.bottom-wrap').fadeIn(100);
	$('.frontpage-container').fadeIn(100);
	$('.frontpage-caption').fadeIn(100);
	$('.container').fadeIn('slow').slick({
		autoplay: true,
		dots: false,
		swipe: true,
		arrows: true
	});
});
</script>

<div class="container">
  <div><img class="banner-img" src="{{url_for('static',filename='img/baja_trim_email.jpg')}}"></div>
  <div><img class="banner-img" src="{{url_for('static',filename='img/waiting_rochester.jpg')}}"></div>
  <div><img class="banner-img" src="{{url_for('static',filename='img/EpicBaja_trim.jpg')}}"></div>
</div>

<!--<div style="padding-top:1%">-->
	<div class="banner-caption row">
		<div class="small-12 small-centered columns" style="margin:auto; text-align:center">
			<div><img src="{{url_for('static',filename='img/logo2_clear_whitetext.png')}}"></div><br>
			<p>A team of students from Olin College that builds and races offroad vehicles for SAE Mini Baja competitions</p>
			<!--<a href="https://twitter.com/PhnxRacing" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @PhnxRacing</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>-->
			
		</div>
	</div>
<!--</div>-->

<div class="row bottom-wrap">
	<div class="small-12 large-4 columns bottom-slide-wrap">
		<div class="bottom-slide">
			<img src="{{url_for('static',filename='img/team_photo_trim.jpg')}}">
			<a href="{{url_for('subteams')}}">Meet the Team</a>
		</div>
	</div>
	<div class="small-12 large-4 columns bottom-slide-wrap">
		<div class="bottom-slide">
			<img src="{{url_for('static',filename='img/bajaflag.jpg')}}">
			<a href="https://twitter.com/PhnxRacing">Visit out our Twitter page</a>
		</div>
	</div>
	<div class="small-12 end large-4 columns bottom-slide-wrap">
		<div class="bottom-slide">
			<img src="{{url_for('static',filename='img/twitter_maybe.jpg')}}">
			<a href="{{url_for('donate')}}">Donate to the Team</a>
		</div>
	</div>
</div>

<div class="frontpage-container">
<div class="frontpage-caption">
	<h3>About Us</h3>
	<p>Phoenix Racing is a student team from Olin College of Engineering. We compete in the intercollegiate Baja SAE design series, which involves designing, building, testing, and racing an off-road vehicle. Our team has 35 undergraduate stdents from all classes. We are an education-oriented team which provides members with long-term experience in an extensive, hands-on engineering project. Additionally, students get to work on design, manufacturing, testing, fixing, and even racing our vehicle!</p>
</div>
</div>

<br>
{% endblock %}