{% extends 'base.html' %}

{% block body_scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slick/slick.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='slick/slick.min.js')}}"></script>
<script>
$(document).ready(function(){
	$('.container').slick({
		autoplay: true,
		dots: true,
		swipe: true,
		arrows: false
	})
});</script>

<div class="container">
  <div><img class="banner-img" src="{{url_for('static',filename='img/EpicBaja_trim.jpg')}}"></div>
  <div><img class="banner-img" src="{{url_for('static',filename='img/EpicBaja_trim_old.jpg')}}"></div>
  <div><img class="banner-img" src="{{url_for('static',filename='img/EpicBaja_trim.jpg')}}"></div>
</div>
<br>
<br>
<div>
	<div class="banner-caption row">
		<div class="small-12 small-centered columns">
			<img src="{{url_for('static',filename='img/logo2_clear_whitetext.png')}}">
		</div>
	</div>
</div>
<br>

<div class="frontpage-caption">
	<p>We are a team of students from Olin College of Engineering that builds and races off-road vehicles for the SAE MiniBaja competitions.
	Check out our Subsystem page for more information about the different parts of our car and how we fabricate them.
	Follow us on Twitter and Facebook for live updates, pictures, videos throughout the year.</p>
	<a href="https://twitter.com/PhnxRacing" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @PhnxRacing</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<br>
<div class="row bottom-wrap">
	<div class="small-12 large-4 columns bottom-slide-wrap">
		<div class="bottom-slide">
			<img src="{{url_for('static',filename='img/team_photo_trim.jpg')}}">
			<a href="{{url_for('subteams')}}">Meet the Team</a>
		</div>
	</div>
	<div class="small-12 large-4 columns bottom-slide-wrap">
		<div class="bottom-slide">
			<img src="{{url_for('static',filename='img/bajaflag.jpg')}}">
			<a href="{{url_for('view_blog')}}">Check Out Our Blog</a>
		</div>
	</div>
	<div class="small-12 end large-4 columns bottom-slide-wrap">
		<div class="bottom-slide">
			<img src="{{url_for('static',filename='img/donate.jpg')}}">
			<a href="{{url_for('donate')}}">Donate to the Team</a>
		</div>
	</div>
</div>

{% endblock %}