{% extends 'base.html' %}

{% block body_scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slick/slick.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>


<div class="tryinstuff">
	<img class="banner-img" src="{{url_for('static',filename='img/background_maybe.jpg')}}">
</div><br><Br>
<div class="decorator">
  <div><img src="{{url_for('static',filename='img/donate-page-decorator.png')}}"></div>
</div>

<div class="banner-caption">
	<div class="small-12 small-centered columns" style="margin:auto; text-align:center">
			<div><img src="{{url_for('static',filename='img/logo2_clear_whitetext.png')}}"></div>
	</div>
</div>



<br>
<div class="frontpage-caption">
	<h1>About Us</h1><br>
		<p><strong><em>A team of students from Olin College that builds and races offroad vehicles for SAE Mini Baja competitions</strong></em></p>
		<p>Phoenix Racing is a student team from Olin College of Engineering. We compete in the intercollegiate Baja SAE design series, which involves designing, building, testing, and racing an off-road vehicle. Our team has 35 undergraduate stdents from all classes. We are an education-oriented team which provides members with long-term experience in an extensive, hands-on engineering project. Additionally, students get to work on design, manufacturing, testing, fixing, and even racing our vehicle!</p></div><br><br>
<div class="row bottom-wrap">
	<div class="small-12 large-4 columns bottom-slide-wrap">
		<div class="bottom-slide"><br>
			<img src="{{url_for('static',filename='img/2014teampic.JPG')}}"><br><br><br><br>
			<a href="{{url_for('team')}}">Meet the Team</a>
		</div>
	</div>
	<div class="small-12 large-4 columns bottom-slide-wrap">
		<div class="bottom-slide"><br>
			<img src="{{url_for('static',filename='img/bajaflag.jpg')}}"><br><br><br><br>
			<a href="https://twitter.com/PhnxRacing">Visit us on Twitter</a>
		</div>
	</div>
	<div class="small-12 end large-4 columns bottom-slide-wrap">
		<div class="bottom-slide"><br>
			<img src="{{url_for('static',filename='img/twitter_maybe.jpg')}}"><br><br><br><br>
			<a href="{{url_for('donate')}}">Donate to Phoenix Racing</a>
		</div>
	</div>
</div>
<br>
<br>


{% block footer %}{%include 'footer.html' %}{% endblock %}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='slick/slick.min.js')}}"></script>
{% endblock %}

