{% extends 'base.html' %}

{% block styles_body%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}

{% block content %}
<div class="row">
	<div class="small-9 large-centered">
		<div class="row">
			<div class="small-offset-4 small-8 columns">
				<h1>Log In</h1>
			</div>
		</div>
		<form>
			<div class="row">
				<div class="small-4 columns">
					<label for="email" class="right">Email</label>
				</div>
				<div class="small-8 columns">
					<input type="text" id="email" placeholder="Email" />
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<label for="password" class="right">Password</label>
				</div>
				<div class="small-8 columns">
					<input type="password" id="password" placeholder="Password" />
				</div>
			</div>
			<div class="row">
				<div class="small-offset-4 small-8 columns">
					<button id="login" class="button" type="submit">Log In</button>
					<a href="#">Sign up</a>
					<!-- 
					<button class="button secondary">Sign Up</button> -->
				</div>
			</div>
		</form>
		<!-- <div class="row">
			<div class="small-offset-4 small-8 columns">
				<a href="#">Forgot your password?</a>
			</div>
		</div> -->
	</div>
</div>
{% endblock %}