{% extends 'base.html' %}

{% block body_scripts %}
{{super()}}
{% endblock %}

{% block content %}
<div class="row banner">
	<div class="small-9 large-centered">
		<div class="row">
			<div class = "small-offset-4 small-8 columns">
				<h1>Purchase Requests</h1>
			</div>
		</div>
		{% from 'forms.html' import render_field, submit %}
		<form method="GET" action="MAILTO:hellen.deborahv@gmail.com">
			{{render_field(form.item)}}
			{{render_field(form.link)}}
			{{render_field(form.justification)}}
			{{submit('Submit')}}
		</form>
	</div>
</div>
{% endblock %}