{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/subteams.css')}}">
{% endblock %}

{% macro subteam_block(subteam) %}
<div class="large-3 columns">
	<img src="{{url_for('static',filename=subteam.image_path)}}">
	<h2>{{subteam.name|title}}</h2>
	<p>{{subteam.short_description}}</p>
	<div class="row">
		<a class="button secondary radius" href="{{url_for('subteam_description', subteam_name=subteam.name)}}">Learn More</a>
	</div>
</div>
{% endmacro %}

{% block content %}
<div class="banner small-8 small-centered columns text-center">
	<div class="row">
		{% for subteam in subteams %}
		{{subteam_block(subteam)}}
		{% endfor %}
	</div>
</div>
{% endblock %}