<!-- subteams-temp.html -->

{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/donate.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/subsystems.css')}}">

{% endblock %}

{% macro subteam_block(subteam) %}
<li>
	<div class="subsystems">
		<a href="{{url_for('subteam_description', subteam_name=subteam.name)}}">
			<img src="{{url_for('static',filename=subteam.image_path)}}"><br>
			<h2 href="{{url_for('subteam_description', subteam_name=subteam.name)}}">{{subteam.name|title}}</h2>
		</a>
		<p>{{subteam.short_description}}</p>
	</div>
</li>
{% endmacro %}

{% block content %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
$(document).ready(function(){
	$('.donate_banner_container').fadeIn('slow');
	$('.subsystems-caption').fadeIn('slow');
	$('.donate-banner-cap').fadeIn('slow');
	$('.frontpage-container').fadeIn('slow');
});
</script>

<div class="donate_banner_container">
  <div><img class="banner-img" src="{{url_for('static',filename='img/subteams_pic.jpg')}}"></div>
</div>
<div class ="donate-banner-cap row">
	<div class="small-12 small-centered columns">
		<h1>Our Subsystems</h1>
	</div>
</div>
<br>
<div class="frontpage-container">
	<div class="subsystems-caption"><br>
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
		{% for subteam in subteams %}
		{{subteam_block(subteam)}}
		{% endfor %}
		</ul>
	</div>
	<small><em>Click the icons above for more information about the design and fabrication of our car</em></small>
</div>
<br>
{% endblock %}