<!-- subteams.html -->

{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/donate.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/subsystems.css')}}">

{% endblock %}


{% macro subteam_block(subteam) %}
	<div class="subsystems">
		<a href="{{url_for('subteam_description', subteam_name=subteam.name)}}">
			<img src="{{url_for('static',filename=subteam.image_path)}}"><br>
			<h2 href="{{url_for('subteam_description', subteam_name=subteam.name)}}">{{subteam.name|title}}</h2>
		</a>
		<p>{{subteam.short_description}}</p>
	</div>
{% endmacro %}

{% block content %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
$(document).ready(function(){
	$('.car-render').fadeIn(500);
	$('.drivetrain-blurb').fadeIn(700);
	$('.electrical-blurb').fadeIn(900);
	$('.body-blurb').fadeIn(1100);
	$('.suspension-blurb').fadeIn(1300);
	$('.pointers').fadeIn('fast');
});
</script>

<div>
<div class = "car-render">
	<img src="{{url_for('static',filename='img/full_car_2014.png')}}">
</div>
<div class = "{{subteams[0].name}}-blurb">{{subteam_block(subteams[0])}}
</div>
<div class = "{{subteams[1].name}}-blurb">{{subteam_block(subteams[1])}}
</div>
<div class = "{{subteams[2].name}}-blurb">{{subteam_block(subteams[2])}}</div>
<div class = "{{subteams[3].name}}-blurb">{{subteam_block(subteams[3])}}</div>
</div><br><Br>
<!--<div class = "pointers">
}<div class = "chassis-line">
		<img src="{{url_for('static',filename='img/chassis-line.png')}}">
</div>
<div class = "drivetrain-line">
		<img src="{{url_for('static',filename='img/drivetrain-line.png')}}">
</div>
<div class = "suspension-line">
		<img src="{{url_for('static',filename='img/suspension-line.png')}}">
</div>
</div>-->


{% endblock %}
