
<!-- <div class="row index-content">
	<div class="small-12 large-8 large-centered columns">
		<p>Phoenix Racing competes in <strong>SAE’s MiniBaja</strong>, an annual series of off-road challenges. Our team is <strong>completely student run</strong> with upper- and under-class technical leads and design managers. We’re a long term project with ongoing student involvement and high retention rates. Each year, the car is designed and fabricated <strong>entirely by students</strong>.</p>
	</div>
</div> -->
