{% extends 'base.html' %}

{% block body_scripts %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/donate.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/team.css')}}">
{% endblock %}

{% block content %}
<!--html here-->
{% macro gen_member_block(general_member) %}
<li>
	<div class="teamMembers">
		<img src="{{url_for('static',filename=general_member.image_path)}}"><br><br>
		<h3> {{general_member.name}}</h3>
		<p>{{general_member.major}}<br>
		Class of {{general_member.year}}<br>
		<a class="inline-a" href="mailto:{{general_member.contact}}">{{general_member.contact}}</a></p><br>
	</div>
</li>
{% endmacro %}

{% macro team_leads_block(team_lead) %}
<li>
	<div class="teamMembers">
		<img src="{{url_for('static',filename=team_lead.image_path)}}"><br><br>
		<h3> {{team_lead.name}}</h3>
		<p>{{team_lead.major}}<br>
		Class of {{team_lead.year}}<br>
		{{team_lead.title}}<br>
		<a class="inline-a" href="mailto:{{team_lead.contact}}">{{team_lead.contact}}</a></p><br>
	</div>
</li>
{% endmacro %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
$(document).ready(function(){
	$('.team-caption').fadeIn('slow');
	$('.all-members').fadeIn('slow')
	$('.sys-lead-caption').fadeIn('slow');
	$('.team-banner').fadeIn('slow');
	$('.team-blurb').fadeIn('slow')
	$('.team-banner-cap').fadeIn(1100);
});</script>

<!--Banner Image at top of page-->
<div class="team-banner">
  <div><img class="donate_banner_image" src="{{url_for('static',filename='img/baja2014teampic.JPG')}}"></div>
</div>
<div class ="team-banner-cap">
	<div class="small-12 small-centered columns">
		<h2>Meet the Team</h2>
	</div>
</div>
<div class = "team-blurb">
	<p>We are a team of undergraduate engineering students at Olin College of Engineering.<br>
	<p>Contact information for each team member is provided below. Feel free to email our general team or subsystem leads with any questions regarding the design and fabrication of our car. Please email our Financial Manager for information on sponsorship. </p>
</div>
<!-- Where all the team shit goes-->
<br>
<div class = "all-members" style="text-align:center">
<h3>Team Captains</h3>
	<div class="team-caption">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
			{% for team_lead in team_leads %}
			{{team_leads_block(team_lead)}}
			{% endfor %}
			</ul>
	</div>
	<h1>System Leads</h1>
	<div class="sys-lead-caption">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
			{% for system_lead in system_leads %}
			{{team_leads_block(system_lead)}}
			{% endfor %}
			</ul>
	</div>
	<h1>General Members</h1>
	<div class="team-caption">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
			{% for general_member in general_members %}
			{{gen_member_block(general_member)}}
			{% endfor %}
			</ul>
	</div>
</div>
<br>
{% endblock %}