{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/user.css')}}">
{% endblock %}

{% block content %}
<div class="row banner">
	<div class="small-offset-1 small-10 large-centered">
	<h1>{{user.first_name}} {{user.last_name}}</h1>
	<!-- Personal Details -->
	<div class="small-11 columns">
		<h2 class="section-title">Personal Information</h2>
	</div>
	<div class="small-1 columns">
		<a href="{{url_for('edit_user')}}">edit</a>
	</div>
	<!-- First Name -->
	<div class="small-3 columns">
		<p>First Name:</p>
	</div>
	<div class="small-9 columns">
		<p>{{user.first_name}}</p>
	</div>
	<!-- Last Name -->
	<div class="small-3 columns">
		<p>Last Name:</p>
	</div>
	<div class="small-9 columns">
		<p>{{user.last_name}}</p>
	</div>
	<!-- Email -->
	<div class="small-3 columns">
		<p>Email:</p>
	</div>
	<div class="small-9 columns">
		<p>{{user.email}}</p>
	</div>

	<!-- Account Details -->
	<div class="small-11 columns">
		<h2 class="section-title">Account Information</h2>
	</div>
	<div class="small-3 columns">
		<p>Access:</p>
	</div>
	<div class="small-9 columns">
		<p>{{user.access}}</p>
	</div>
</div>
{% endblock %}