body {
	background-color: #333;
}

.display{
	background-color: rgba(54, 54, 54, .75);
	margin:10%;
	padding:3%;
	border-radius: 10px;
}

.display *{
	color: white;
}

.display p{
	font-size: 1.3em;
}

#logo {
	margin-bottom: 30px;
}
.display a{
	margin-right: 10px;
	font-weight: bold!important;
}

.display p{
	font-weight: 400;
}

.display strong {
	font-weight: 900;
}

#yeebox {
	margin:auto;
	width:30%; 
	height:50%; 
	background-color:white; 
	color:black; 
	border-radius:5px; 
	line-height: 250%;
	text-align:center;
}

#yeebox p {
	
}

/*	
#Title {
	font-size: 1.5em;
}

#Title span {
	display: block;
	border-top: dotted white 5px;
	width:100%;
	font-size: 3em;
	padding-top: -100px;
}
*/