.donate-caption {
	background-color: rgba(34,34,34,0.73);
	padding-top: 1%;
	text-align: center;
	margin: auto;
}

.donate-banner-cap{
	padding-top:3%;
	width:auto;
	height:auto;
	margin:auto;
	text-align: center;
	background-color: rgba(34,34,34, .75);
	display:none;
}

.decorator-donate {
	position: relative;
}

.decorator2 {
	position: absolute;
	top:49rem;
}



@media only screen and (max-width: 70em) {
	.sponsors-blurb-wrap {
		text-align: center;
		padding: 1rem;
	}

	.sponsor-img {
		width:65%;
		padding-bottom:1.5rem;
		padding-top:1.5rem;
	}

	.blueorigin {
		height:auto;
		width:85%;
		padding-top:5rem;
	}

	.decorator {
		display: none;
	}

	.donate-caption {
		background-color: #111;
	}

}

@media only screen and (min-width:  70em) {
	.sponsor-img {
		height:auto;
		width:100%;
		padding: 1rem;
	}

	.blueorigin {
		height:auto;
		width:55%;
		padding-top:5rem;
	}

	.donate_banner_container {
		width:86% !important;
		display:none;
		margin: auto;
		text-align: center;
	}

	.donate-caption{
		width: 100%;
		height:auto;
		margin:auto;
		top:5.5%;
		position: absolute;
		text-align: center;
		display:none;
		padding-top:0;	
		-moz-box-shadow:    inset 0 0 2rem #1f1f1f;
   		-webkit-box-shadow: inset 0 0 2rem #1f1f1f;
   		box-shadow:        inset 0 0 2rem #1f1f1f;
	}

	.donate-caption div {
		width:90%;
		text-align: center;
		margin: 0 auto;
	}

	.sponsors-blurb {
		text-align: center;
		margin:0 auto;
		width:70%;
		padding:1rem;
		color:#222 !important;
	}

	.sponsors-blurb-wrap {
		width:100%; 
		height:auto;
		position: relative;
		/*background-color: #111;*/
		display: none;
		padding:none;
	}

	.donate-background {
   	display:none;
	}

	.random-sponsor-img {
		width:100%;
		margin: 0 auto;
	}
}

.donate_banner_container {
	width:100%;
	margin:auto;
	text-align: center;
	display:none;
	-moz-box-shadow:    0 .65rem 3rem #000;
   	-webkit-box-shadow: 0 .65rem 3rem #000;
   	box-shadow:         0 .65rem 3rem #000;
}
