.Gallery_Title {
	text-align: center;
	margin: 0 ;
	font-size: 2.4rem;
	display: none;
}

.Gallery_Content{
	margin-left: 10%;
	margin-right: 10%;
	display: none;
	margin-bottom: 4rem;
}
.Gallery_Blurb {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	display: none;
	font-size: .5rem;
	margin-bottom:3rem;
}

.Pictures{
	margin: 1rem;
	text-align: center;
}

.Pictures img {
	border-radius: 4px;
	-moz-box-shadow:    0 0 1rem #000;
   	-webkit-box-shadow: 0 0 1rem #000;
   	box-shadow:         0 0 1rem #000;
   	max-width: 100%;
   	margin: 0 auto;
   	width: auto;
   	height: auto;
   	clip: rect(0px,2px,2px,0px);
}

.Pictures p {
	text-align: center;
	padding: 1rem;
	font-size: 1.1rem;
}

a.fancybox img {
        border: none;
        max-width: 100%
        height: auto;
        box-shadow: 0 1px 7px rgba(0,0,0 0,0.1);
        -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
    } 
a.fancybox:hover img {
    position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
}

.decorator {
	width:100%;
	position:absolute;
	top:19.5rem;
	display: none;
}

.decorator2 img {
	bottom:-7rem;
	position: absolute;
	width: 100%;
	display: none;
}

h1 {
	font-size: 5rem;
}