/* banner stuff */

.banner-img{
	margin:auto;
	width:100%;
}

.banner-caption{
	background-color: rgba(34,34,34,.8);
}

@media only screen and (min-width:  64.063em) {
	/*prevents the banner-caption from scrolling funny*/
	.banner{
		position: relative;
	}
	/*prevents the banner from collapsing*/
	.banner-img{
		position: relative;
	}
	.banner-caption{
		width: 20%;
		position: absolute;
		top: 10%;
		left: 10%;
		border-radius: 10px;
	}
	.banner-caption img{
		max-width: 100%;
	}
}

.banner-caption > div:first-child{
	padding: 10%;
	padding-bottom: 0;
}
.banner-caption p{
	font-size: 100%;
	color: white;
	text-align: center;
}
.banner-caption a{
	font-size: 90%;
	color: white;
	text-decoration: underline;
}

/* bottom slides */
.bottom-wrap{
	max-width: 100%;
}

.bottom-slide-wrap{
	padding-top:1.5%;
	padding-left:.75%;
	padding-right: .75%;
	padding-bottom: 1.5%;
	overflow: hidden;
}

.bottom-slide{
	text-align: center;
	color: white;
}
.bottom-slide > img{
	min-width: 100%;
}

.bottom-slide > a{
	position: absolute;
	bottom:5.5%;
	display: block;
	width:95.5%;
	text-align: center;
	background-color: rgba(51,51,51,.8);
	color: white;
	padding: 5%;
}

@media only screen and (max-width:  64em) {
	/*prevents the banner-caption from scrolling funny*/
	.bottom-slide{
		padding: 5% 10%;
	}
	.bottom-slide > a{
		width:78.8%;
		bottom:10%;
	}
}