/* banner stuff */

.banner-img{
	margin:auto;
	width:100%;
}

.banner-caption{
	background-color: rgba(34,34,34,.88);
	padding-top: 1%;
}

@media only screen and (min-width:  64.063em) {
	
	/*prevents the banner from collapsing*/
	.banner-img{
		position: relative;
		width: 100%;
	}
	.banner-caption{
		width: 32%;
		height:auto;
		position: absolute;
		top: 7%;
		left: 12.75%;
		border-radius: 10px;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		display:none;
		
	}
	.banner-caption img{
		max-width: 100%;
	}

	.frontpage-container {
	width:86.1%;
	background-color:#333;
	margin:auto;
	padding-top:1.5%;
	padding-left:1.5%;
	padding-right: 1.5%;
	padding-bottom: 1.5%;
	margin:auto;
	text-align: center;
	-moz-box-shadow:    0 0 3rem #000;
   	-webkit-box-shadow: 0 0 3rem #000;
   	box-shadow:         0 0 3rem #000;
	} 

}
}

.banner-caption > div:first-child{
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left:5%;
	padding-right:5%;
}
.banner-caption p{
	font-size: 100%;
	color: white;
	text-align: center;
}
.banner-caption a{
	font-size: 86%;
	color: white;
	text-decoration: underline;
}

/* bottom slides */
.bottom-wrap{
	max-width: 87.25%;
	display: none;
}

.bottom-slide-wrap{
	padding-top:1.1%;
	padding-left:.7%;
	padding-right: .7%;
	padding-bottom: 1.1%;
	overflow: hidden;
}

.bottom-slide{
	text-align: center;
	color: white;
	display:none;

}
.bottom-slide > img{
	min-width: 100%;
}

.bottom-slide > a{
	position: absolute;
	bottom:5.5%;
	display: block;
	width:95.8%;
	text-align: center;
	background-color: rgba(51,51,51,.88);
	color: white;
	padding: 5%;
	margin: auto;
}

@media only screen and (max-width:  64em) {
	/*prevents the banner-caption from scrolling funny*/
	.bottom-slide{
		padding: 5% 10%;
	}
	.bottom-slide > a{
		width:78.8%;
		bottom:10%;
	}

	.container {
		display:none;
		width:100% !important;
	}
}

.frontpage-caption {
	margin:auto;
	width:82%;
	text-align: center;
	color:white;
	font-style: italic;
	display:none;
}

.frontpage-container {
	margin:auto;
	text-align: center;
}

.container {
	width:86%;
	margin: auto;
	text-align: center;
	display:none;
	-moz-box-shadow:    0 .75rem 4rem #000;
   	-webkit-box-shadow: 0 .75rem 4rem #000;
   	box-shadow:         0 .75rem 4rem #000;
}

/*Some other formatting that was driving me crazy*/
p, h1, h2, h3, h4, small {
	color:white;
}

button.hover {
	background-color: black;
}