.gold-container {
	text-align: center;
	margin:auto;
	width:95%;
}

.gold-img {
	padding:15% 10% 5% 17%;
}

.silver-container {
	text-align: center;
	margin:auto;
	width:95%;
}

.silver-img {
	padding:25% 15% 3% 20%;
}

.sponsor-wrap {
	padding:1%;
	border-radius: 10px;
	background-color: #ccc;
}

.sponsor-banner-cap{
	padding:0;
	width:auto;
	height:auto;
	margin:auto;
	text-align: center;
	background-color: rgba(34,34,34, .75);
	display:none;
}

@media only screen and (min-width:  64.063em) {
	.sponsor-banner-cap{
	position: absolute;
	width:19%;
	top: 4.5%;
	left: 15.3%;
	padding-bottom: .75%;
	border-radius: 10px;
	padding-top: .75%;
	padding-left: .5%;
	padding-right: .5%;
	display:none;
	}
}