.car-render {
	width:100%;
	text-align: center;
	margin-right: 0 auto;
	background-color: #eee;
}

.car-render img {
	width:80%;
	padding-bottom:1rem;
	margin-right:10%;
	margin-left: 10%;
}

.suspension-blurb {
	width:16rem;
	height:16rem;
	background-color: rgba(34,34,34,0.7);
	position:absolute;
	padding: 2rem;
	border-radius: 50%;
	text-align: center;
	top: 38%;
	left:7%;
	display: none
}



.drivetrain-blurb {
	width:16rem;
	height:16rem;
	background-color: rgba(34,34,34,0.7);
	position:absolute;
	padding: 2rem;
	top: 10%;
	left:68.5%;
	border-radius: 50%;
	text-align: center;
	display: none;
}


.electrical-blurb {
	width:16rem;
	height: 16rem;
	background-color: rgba(34,34,34,0.7);
	position:absolute;
	padding: 2rem;
	top: 59%;
	left:79%;
	border-radius: 50%;
	text-align: center;
	display: none;
}

.body-blurb {
	width:16rem;
	height:16rem;
	background-color: rgba(34,34,34,0.7);
	position:absolute;
	padding: 2rem;
	top: 8%;
	left:22%;
	border-radius: 50%;
	text-align: center;
	display: none;
}

.chassis-line {
	position:absolute;
	top:32%;
	left:32%;
	display: inline;
	width: auto;
}

.drivetrain-line {
	position:absolute;
	top:32.5%;
	left:64.6%;
	display: inline;
	width: auto;
}

.suspension-line {
	position:absolute;
	top:58%;
	left:18.75%;
	display: inline;
	width: auto
}

.pointers {
	display: none;
	opacity: 1;
}

.footer_container {
	display: none;
}

.electrical-blurb:hover, .suspension-blurb:hover, .drivetrain-blurb:hover, .body-blurb:hover {
	background-color: rgba(34,34,34,0.9);
}

@media only screen and (max-width:  64em) {

	.suspension-blurb, .body-blurb, .drivetrain-blurb, .electrical-blurb{
		position:relative;
		height:17rem;
		border-radius:0rem;
		margin:0 auto;
		text-align: center;
		width:100%;
		left:0;
		padding:.5rem;
		margin-top:2rem;
	}
	.pointers {
		opacity: 0;
	}

	.subsystems {
		padding-bottom:3rem;
	}
	.electrical-blurb:hover, .suspension-blurb:hover, .drivetrain-blurb:hover, .body-blurb:hover {
	background-color: rgba(34,34,34,0.7);
	}

}

@media only screen and (min-width:  64em) {
	.subsystems img {
		display:none;
	}

}