
.team-caption {
	position: relative;
	width:76%;
	margin:auto;
	text-align: center;	
	padding:1.5rem;
}

.sys-lead-caption {
	position: relative;
	width:87%;
	margin:auto;
	text-align: center;	
	padding:1.5rem;
   	display: none;
}

.team-blurb {
	margin:0 auto;
	width: 80%;
	text-align: center;
	padding-top:10rem;
	display: none;
}

.all-members {
	display: none;
	width: 100%;
	height:100%;
	margin: auto;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 3.5rem;
}

.team-blurb p {
	font-size: 1.2rem;
}

h2 {
	font-size: 4rem;
}

.team-banner {
	display: none;
	position: absolute;
	top:27rem;
}

.team-banner-cap {
	position: absolute;
	padding-right:1.5rem;
	padding-left:1.5rem;
	padding-top:2.25rem;
	padding-bottom:5rem;
	top:4rem;
	text-align: center;
	display:none;
	width:100%;
}

.teamMembers {
	padding-left:1.5%;
	padding-right:1.5%;
	line-height: 90% !important;
}

.teamMembers img {
	border-radius:50%;
	-moz-box-shadow:    0 0 1rem #000;
   	-webkit-box-shadow: 0 0 1rem #000;
   	box-shadow:        0 0 1rem #000;
}

.decorator {
	position:absolute;
	bottom:8rem;
	right:-7rem;
	display: none;
	width:100%;
}

.decorator2 {
	position:absolute;
	width: auto;
	bottom:-11.5rem;
	left:-13rem;
	width:100%;
	display: none;
}


@media only screen and (max-width:  64.063em) {
	.team-banner-cap {
		position:relative;
		width:100%;
		padding-top:1rem;
		padding-bottom:1rem;
	}

	h2 {
		font-size: 3rem;
	}

	.decorator, .decorator2 {
		opacity:0;
	}
}

