#login {
	margin-right: 20px;
}

.banner{
	margin-top: 3%;
	background-color: #333;
	border-radius: 10px;
	color:white;
}

.banner h1, .banner label{
	color: white;
}

.section-title{
	font-size: 1.5em;
	color:white;
}

.hack-padding{
	height:15px;
}

p, h1, h2, h3, h4, small, strong, div {
	color:white;
	font-family: "Avant Garde", "Helvetica", sans-serif !important;
}